openapi: 3.0.3
info:
  title: ViaCEP API
  description: Documentação Swagger da API [ViaCEP](https://viacep.com.br/).
  termsOfService: http://swagger.io/terms/
  contact:
    email: apiteam@swagger.io
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.11
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://viacep.com.br/
tags:
  - name: Address
    description: Operations about address.
paths:
  /ws/{cep}/json/:
    get:
      tags:
        - Address
      summary: Find address by CEP.
      description: Returns a single address.
      operationId: getAddressByCep
      parameters:
        - name: cep
          in: path
          description: ID of address.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'          
            application/xml:
              schema:
                $ref: '#/components/schemas/Address'
        '400':
          description: Invalid ID supplied.
        '404':
          description: CEP not found.
components:
  schemas:
    Address:
      title: Address
      type: object
      properties:
        cep: 
          type: string
        logradouro:
          type: string
        complemento:
            type: string
        bairro:
            type: string
        localidade:
            type: string
        uf:
            type: string
        ibge:
            type: string
        gia:
            type: string
        ddd:
            type: string
        siafi:
            type: string
  